name: Remote SSH and git pull
on:
  workflow_dispatch:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop
    paths:   # 这里是用来指定哪个文件更改，才会触发的
      - '.github/workflows/git-pull.yml'
  schedule:
    # Runs at 09:30, Monday through Saturday
    # 北京时间+8，17点30分
    - cron: '30 22 * * 1-6'
jobs:
  build:
    name: Remote SSH and git pull
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          whoami
          cd /volume1/docker/python-chromedriver/work/dreamlabs-cb
          /usr/local/bin/git pull
          cd /volume1/docker/python-chromedriver/work/dreamlabs-pairs
          /usr/local/bin/git pull
          sudo /usr/local/bin/docker restart infallible_elion
